template
  section.container.container-fluid
    section.jumbotron.text-center
      div.text-center(show.bind="!matchInProgress")
        h1 Good news, everyone!
        p The table is open.
        div.text-center.flex-container.pad-bottom-1em
          img.img-responsive(src='img/goodnews.jpg')
        a.btn.btn-lg.btn-primary(href="/newMatch") Start New Match
      div(show.bind="matchInProgress")
        h1 Current Match
        .row
          .col-sm-10.col-sm-offset-1
            .col-xs-5.col-xs-offset-1
            .col-xs-6
              .col-xs-4.no-pad-xs.text-center(class='${currentMatch.gameNum === 1 ? \'current\' : \'\'}')
                h5 1
              .col-xs-4.no-pad-xs.text-center(class='${currentMatch.gameNum === 2 ? \'current\' : \'\'}')
                h5 2
              .col-xs-4.no-pad-xs.text-center(class='${currentMatch.gameNum === 3 ? \'current\' : \'\'}')
                h5 3
        .row
          .col-sm-10.col-sm-offset-1
            .col-xs-5.col-xs-offset-1.team1
              h2 ${team1Title}
            .col-xs-6.team1-scores(flash.bind='currentTeam1')
              .col-xs-4.no-pad-xs.text-center.score(class='${team1Class}' repeat.for='score of currentMatch.scores')
                h2 ${score.team1}
              .col-xs-4.no-pad-xs.text-center(if.bind="currentMatch.scores.length < 3")
                h2 0
              .col-xs-4.no-pad-xs.text-center(if.bind="currentMatch.scores.length < 2")
                h2 0
        .row
          .col-sm-10.col-sm-offset-1
            .col-xs-5.col-xs-offset-1.team2
              h2 ${team2Title}
            .col-xs-6.team2-scores(flash.bind='currentTeam2')
              .col-xs-4.no-pad-xs.text-center.score(class='${team2Class}' repeat.for='score of currentMatch.scores')
                h2 ${score.team2}
              .col-xs-4.no-pad-xs.text-center(if.bind="currentMatch.scores.length < 3")
                h2 0
              .col-xs-4.no-pad-xs.text-center(if.bind="currentMatch.scores.length < 2")
                h2 0
        
        .row.tall.stepper.margin-top-1em.heads-stepper(show.bind="startedMatch() && currentMatch.gameNum !== 2")
          .col-xs-4.minus.no-pad
            button.btn.btn-expand(click.trigger="changeScore('team1','minus')",
                                  disabled.bind='currentTeam1 === 0 || !currentMatch.active')
              i.fa.fa-minus
          .col-xs-4
            h3 ${team1Title}
          .col-xs-4.plus.no-pad
            button.btn.btn-expand(click.trigger="changeScore('team1','plus')",
                                  disabled.bind='currentTeam1 === 10 || !currentMatch.active')
              i.fa.fa-plus
        
        .row.tall.stepper.tails-stepper(show.bind="startedMatch() && currentMatch.gameNum !== 2")
          .col-xs-4.minus.no-pad
            button.btn.btn-expand(click.trigger="changeScore('team2','minus')",
                                  disabled.bind='currentTeam2 === 0 || !currentMatch.active')
              i.fa.fa-minus
          .col-xs-4
            h3 ${team2Title}
          .col-xs-4.plus.no-pad
            button.btn.btn-expand(click.trigger="changeScore('team2','plus')",
                                  disabled.bind='currentTeam2 === 10 || !currentMatch.active')
              i.fa.fa-plus

        .row.tall.stepper.margin-top-1em.tails-stepper(show.bind="startedMatch() && currentMatch.gameNum === 2")
          .col-xs-4.minus.no-pad
            button.btn.btn-expand(click.trigger="changeScore('team1','minus')",
                                  disabled.bind='currentTeam1 === 0 || !currentMatch.active')
              i.fa.fa-minus
          .col-xs-4
            h3 ${team1Title}
          .col-xs-4.plus.no-pad
            button.btn.btn-expand(click.trigger="changeScore('team1','plus')",
                                  disabled.bind='currentTeam1 === 10 || !currentMatch.active')
              i.fa.fa-plus
        
        .row.tall.stepper.heads-stepper(show.bind="startedMatch() && currentMatch.gameNum === 2")
          .col-xs-4.minus.no-pad
            button.btn.btn-expand(click.trigger="changeScore('team2','minus')",
                                  disabled.bind='currentTeam2 === 0 || !currentMatch.active')
              i.fa.fa-minus
          .col-xs-4
            h3 ${team2Title}
          .col-xs-4.plus.no-pad
            button.btn.btn-expand(click.trigger="changeScore('team2','plus')",
                                  disabled.bind='currentTeam2 === 10 || !currentMatch.active')
              i.fa.fa-plus
        
        .row(show.bind="startedMatch()")
          .col-xs-12
            button(click.trigger='endMatch()').btn.btn-danger.btn-lg End Match
        
        .row(show.bind="!startedMatch()")
          h3 Game ${currentMatch.gameNum} In Progress

        .row(show.bind="!startedMatch()")
          .col-xs-12
            h5
              em Game ${currentMatch.gameNum} started at ${moment(currentMatch.gameStartTime).format("h:mma")}
            h5
              em Match started at ${moment(currentMatch.startTime).format("h:mma")}
        hr
        //
                 <div class="row">
                    <div class="col-xs-12">
                      <h4 class="underline">History</h4>
                      <div class="row">
                        <div class="col-xs-12">
                          <h5>Match Record: ${currentMatch.history.allTimeMatchRecord}</h5>
                          <h5>Games Record: ${currentMatch.history.allTimeGameRecord}</h5>
                          <h5>Average Score: ${currentMatch.history.avgScore}</h5>
                        </div>
                      </div>
                    </div>
                  </div> 
