template
  section.container.text-center
    section.row
      section.col-xs-12
        h1 Stats &#38; History
    section.row
      section.flex-container.col-xs-12
        section.flex-item.width-200
          input#by-player(type="radio", name="toggle", value="1", change.delegate='toggleTeam(false)', checked="checked")
          label(for="by-player") By Player
          input#by-team(type="radio", name="toggle", change.delegate='toggleTeam(true)', value="2")
          label(for="by-team") By Team

    section.row.main-table(show.bind='!byTeam')
      section.col-xs-12
        table.table.table-hover.table-responsive.table-striped.text-center.table-bordered
          thead
            tr
              th.sortable(click.delegate='sort("players", "name")') Player
              th.sortable(click.delegate='sort("players", "pct")') Match Record
              th.sortable.hidden-xs(click.delegate='sort("players", "pct")') Pct.
              th.sortable(click.delegate='sort("players", "gameRecord")') Game Record
              th.sortable.hidden-xs(click.delegate='sort("players", "gameRecord")') Pct.
              th.sortable(click.delegate='sort("players", "avgScore")') Avg. Score
          tbody
            tr(repeat.for='player of players')
              td.sortable ${player.name}
              td.sortable ${player.matchesWon} - ${player.matchesLost}
              td.sortable.hidden-xs ${player.pct < 1 ? ('.' + player.pct.toPrecision(3).toString().split('.')[1]) : '1.000'}
              td.sortable ${player.gamesWon} - ${player.gamesLost}
              td.sortable.hidden-xs ${player.gamesWon ? (player.gamesWon / player.games).toPrecision(3) : '.000'}
              td.sortable ${player.avgPtsFor} - ${player.avgPtsAgainst}

    section.row.main-table(show.bind='byTeam')
      section.col-xs-12
        table.table.table-hover.table-responsive.table-striped.text-center.table-bordered
          thead
            tr
              th.sortable(click.delegate='sort("teams", "name")') Team
              th.sortable(click.delegate='sort("teams", "pct")') Match Record
              th.sortable.hidden-xs(click.delegate='sort("teams", "pct")') Pct.
              th.sortable(click.delegate='sort("teams", "gameRecord")') Game Record
              th.sortable.hidden-xs(click.delegate='sort("teams", "gameRecord")') Pct.
              th.sortable(click.delegate='sort("teams", "avgScore")') Avg. Score
          tbody
            tr(repeat.for='team of teams')
              td.sortable ${team.title}
              td.sortable ${team.matchesWon} - ${team.matchesLost}
              td.sortable.hidden-xs ${team.pct < 1 ? ('.' + team.pct.toPrecision(3).toString().split('.')[1]) : '1.000'}
              td.sortable ${team.gamesWon} - ${team.gamesLost}
              td.sortable.hidden-xs ${team.gamesWon ? (team.gamesWon / team.games).toPrecision(3) : '.000'}
              td.sortable ${team.avgPtsFor} - ${team.avgPtsAgainst}
